@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
}

:root{
    --bg-dark: #030712;
    --text-color: #D1D5DB;
    --h-text: #F9FAFB;
    --bg-gray-color: #111827;
    --gray-item-color: #1F2937;

}

main{
    max-width: 1440px;
    margin: auto;
}